
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
#one {
    border-style: solid;
    position: fixed;
    bottom: 20px;
    right: 5px;
    border-color: blue;
    border-width: 5px;
    width: 25%;
}

#two {
    border-style: solid;
    position: fixed;
    top: 20px;
    right: 5px;
    border-color: green;
    border-width: 5px;
    width: 25%;
}

#three {
    border-style: solid;
    position: fixed;
    top: 20px;
    left: 5px;
    border-color: orange;
    border-width: 5px;
    width: 25%;
}

#four {
    border-style: solid;
    position: fixed;
    bottom: 20px;
    left: 5px;
    border-color: yellow;
    border-width: 5px;
    width: 25%;
}

#link {
    position: fixed;
    top: 20px;
    left: 50%;
    color: red !important;
    background-color: #2f418e;
    border-width: 5px;
    width: 7.5%;
}

#link a:link {
     color: white;
   }
#link a:visited {
    color: white;
   }
